.txtBoxAmount:focus {
    outline: none;
}

.btnBuy {
    background: rgb(234 179 8);
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.btnBuy:focus {
    outline: none;
}
.btnBuy:hover {
    background: rgb(243, 198, 64);
}

.metamask-width {
    width: 15%;
}

.metamask-bg {
    background: none;
    cursor: pointer;
}
.metamask-bg:focus {
    outline: none;
}
.metamask-bg:hover {
    background: rgba(255, 255, 255, 0.1);
}